# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Test ###
backup
client
mongo-volume
angularapp1-init
SimpleNodeJS/node_modules
!**/src/test/script/*.txt
